.icon {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3;
  cursor: pointer;
  opacity: .8;
}

.icon:hover {
  opacity: 1;
}