@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto Flex', sans-serif;
  color: #161616;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}